@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Safari Books!</h1>
    <p class="lead">Good to see you</p>
    <p><a href="/Book/Index" class="btn btn-primary btn-lg">Search for Books &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Coupons</h2>
        <a href="/Coupon/Index"> ManageCoupons</a> 
        
     </div>
    <div class="col-md-4">
        <h2>Customers</h2>
        <a href="/CustomerReview/Index"> Leave Reviews</a>
     </div>
    <div class="col-md-4">
        <h2>Employees</h2>
        <a href="/Book/ManageBooks"> Manage Books</a>
        <a href="/EmployeeReview/Index"> Manage Reviews</a>

    </div>
</div>